<ul class="appearance-list">
	<li class="appearance-list-1">
		<div class="appearance-preview"><img src="images/appearance-item-1.png" alt=""></div>
	</li>
	<li class="appearance-list-2">
		<div class="appearance-preview"><img src="images/appearance-item-2.png" alt=""></div>
		<p class="_2-1">Login with<br><b>Facebook</b>, play with<br>friends and<br><b>get 5 diamonds free</b><i></i></p>
		<p class="_2-2">or you can<br>alternatively use your<br><b>Email</b><i></i></p>
	</li>
	<li class="appearance-list-3">
		<div class="appearance-preview"><img src="images/appearance-item-3.png" alt=""></div>
		<p class="_3-1">Manage your current<br>games and create<br>new ones.<i></i></p>
		<p class="_3-2"><b>Store</b>. Purchase<br>coins, diamonds and<br>new word<br>categories.<i></i></p>
		<p class="_3-3"><b>Game Settings</b><i></i></p>
	</li>
	<li class="appearance-list-4">
		<div class="appearance-preview"><img src="images/appearance-item-4.png" alt=""></div>
		<p class="_4-1">There are 4 ways of creating a new game. Your Facebook friends, a random player from the list of thousands active players, or you can find your opponent using the exact username or email address</p>
	</li>
	<li class="appearance-list-5">
		<div class="appearance-preview"><img src="images/appearance-item-5.png" alt=""></div>
		<p class="_5-1">Pick any of the <b>categories</b> which seems to be more interesting and familiar to you<i></i></p>
		<p class="_5-2"><b>It costs 1 diamond</b> and is being applied to opened categories only<i></i></p>
		<p class="_5-3">Go to the <b>store</b> to get new word categories<i></i></p>
	</li>
	<li class="appearance-list-6">
		<div class="appearance-preview"><img src="images/appearance-item-6.png" alt=""></div>
		<p class="_6-1">You have <b>3 seconds</b> before the round begins! This is the last chance to see the category of the backword that you and your opponent are going to guess.<i></i></p>
	</li>
	<li class="appearance-list-7">
		<div class="appearance-preview"><img src="images/appearance-item-7.png" alt=""></div>
		<p class="_7-1">The button<br><b>cancels the round</b> and you get no points<i></i></p>
		<p class="_7-2">The <b>"Bomb"</b> eliminates some irrelevant letters. It costs 1 diamond and is used once during a round.<i></i></p>
		<p class="_7-3">This is your opponent. You are both guessing the same word.<i></i></p>
		<p class="_7-4">The <b>"Time Freezer”</b> stops the timer for a few seconds. It costs 1 diamond and is used once during a round.<i></i></p>
	</li>
	<li class="appearance-list-8">
		<div class="appearance-preview"><img src="images/appearance-item-8.png" alt=""></div>
		<p class="_8-1">You have<br><b>40 seconds</b> to accomplish the task.<i></i></p>
		<p class="_8-2">You have 5 free attempts to<br><b>hear the backword</b>. When all free attempts are used, each additional use will cost you 1 diamond<i></i></p>
		<p class="_8-3">Record the backword that you have just heard. The system will reverse the recording and you will hear the original word that you are guessing. While recording be sure to pronounce the backword as close to what you heard as possible.<i></i></p>
	</li>
	<li class="appearance-list-9">
		<div class="appearance-preview"><img src="images/appearance-item-9.png" alt=""></div>
		<p class="_9-1">The less time it takes you to figure out the word the more points you get. Win coins and use them to purchase diamonds and new word categories</p>
	</li>
</ul>
<div class="appearance-arrow-prev">Prev<i></i></div>
<div class="appearance-arrow-next">Next<i></i></div>
<div class="appearance-nav">
	<ul>
		<li class="_active"></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<div class="appearance-phone"></div>
