<form class="contact-form" action="" method="post">
	<label>Name<div class="input-wrapper"><input type="text"></div></label>
	<label>Email<div class="input-wrapper"><input type="email" autocomplete="true"></div></label>
	<label>Subject<div class="input-wrapper"><input type="text"></div></label>
	<label>Subject<div class="textarea-wrapper"><textarea></textarea></div></label>
	<button>Send</button>
</form>
<div class="contact-mail"></div>
