<a href="" class="header-logo"><img src="images/header-logo.png" alt="joyconnect logo"></a>
<ul class="header-social">
	<li class="-facebook"><a href="">fb</a></li>
	<li class="-twitter"><a href="">twit</a></li>
</ul>
<a href="" class="header-presskit">Press Kit</a>
