<ul class="preview-list">
	<li class="-item-1">
		<img src="images/preview-item-1.png" alt="">
		<p>Two players compete in<br>a game in which they<br>have to guess the same backword</p>
	</li>
	<li class="-item-2">
		<img src="images/preview-item-2.png" alt="">
		<p>The one who takes the least amount of time to accomplish the task...</p>
	</li>
	<li class="-item-3">
		<img src="images/preview-item-3.png" alt="">
		<p>Scores more points and gets 3 coins</p>
	</li>
	<li class="-item-4 _manywords">
		<img src="images/preview-item-4.png" alt="">
		<p><i>Win or purchase coins to open new word categories and to get diamonds</i><b>Movies & TV Shows, Brands</b></p>
	</li>
	<li class="-item-5">
		<img src="images/preview-item-5.png" alt="">
		<p>Some power-ups cost a diamond and some are free...</p>
	</li>
	<li class="-item-6 _last">
		<img src="images/preview-item-6.png" alt="">
		<p><i>Enjoy playing</i><b>GUESS</b><strong>BACKWORDS!</strong></p>
	</li>
</ul>
<div class="preview-borders">
	<div class="-vertical -vertical_left"></div>
	<div class="-vertical -vertical_right"></div>
	<div class="-horizontal"></div>
	<div class="-horizontal -horizontal_bottom"></div>
</div>
