<div class="slider-logo"><b>Guess</b> Backwords</div>
<a href="" class="slider-install"> Download on the App Store</a>
<ul class="slider-list">
	<li class="slider-item slider-item-1"><img src="images/slider-item-4-screen.png" alt=""></li>
	<li class="slider-item slider-item-2"><img src="images/slider-item-1-screen.png" alt=""></li>
	<li class="slider-item slider-item-3"><img src="images/slider-item-3-screen.png" alt=""></li>
	<li class="slider-item slider-item-4"><img src="images/slider-item-2-screen.png" alt=""></li>
	<li class="slider-item slider-item-5"><img src="images/slider-item-5-screen.png" alt=""></li>

	<li class="slider-shadow slider-item-1-shadow"></li>
	<li class="slider-shadow slider-item-2-shadow"></li>
	<li class="slider-shadow slider-item-3-shadow"></li>
	<li class="slider-shadow slider-item-4-shadow"></li>
	<li class="slider-shadow slider-item-5-shadow"></li>

	<li class="slider-item-phone"></li>
	<li class="slider-item-glass"></li>
</ul>
<div class="slider-nav">
	<ul>
		<li class="_active"></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<!-- <div class="slider-skip"></div> -->
