<div data-swf="http://releases.flowplayer.org/5.4.6/flowplayer.swf" class="flowplayer no-toggle no-time no-volume no-mute no-volume" data-embed="false" data-fullscreen="false">
	<video>
		<source type="video/webm" src="http://stream.flowplayer.org/bauhaus/624x260.webm"/>
		<source type="video/mp4" src="http://stream.flowplayer.org/bauhaus/624x260.mp4"/>
		<source type="video/ogv" src="http://stream.flowplayer.org/bauhaus/624x260.ogv"/>
	</video>
</div>
