#appearance {
	// height: $height-appearance;
	overflow: hidden;
	}

	.appearance-phone {
		width: 456px;
		height: 700px + 85px;
		// margin-top: ;
		margin-left: -220px;
		left: 50%;
		top: -79px;
		position: absolute;
		z-index: 195;
		background: url(../images/appearance-iphone-full.png) no-repeat 0;
		opacity: 1;
		// @include scale(0);
		}

	.appearance-list {
		width: 780px;
		height: $height-appearance;
		margin: auto;
		position: relative;
		z-index: 200;
		font-family: $font-light;
		font-size: 18px;
		line-height: 1.223;
		color: #666;

		b {
			font-family: $font-main;
			}

		p {
			position: absolute;
			z-index: 306;
			opacity: 0;
			text-align: center;
			// display: none;

			i {
				display: block;
				content: "\0020";
				position: absolute;
				}
			}

		@mixin addp($id, $wi, $patop, $top, $left, $swi, $she, $stop, $sright) {
			p._#{$id} {
				width: $wi;
				padding-top: $patop;
				top: $top;
				left: $left;
				background: url("../images/appearance-item-#{$id}.png") no-repeat 50% 0;

				i {
					width: $swi;
					height: $she;
					top: $stop;
					right: $sright;
					background: url("../images/appearance-item-#{$id}-arrow.png") no-repeat;
					}
				}
			}

		p._2-1 {
			padding-top: 115px;
			top: 173px;
			left: 20px;
			background: url(../images/appearance-item-2-1.png) no-repeat 50% 0;
			i {
				width: 102px;
				height: 32px;
				bottom: 13px;
				right: -102px - 6px;
				background: url(../images/appearance-item-2-1-arrow.png) no-repeat;
				}
			}
		p._2-2 {
			width: 175px;
			padding-top: 115px;
			top: 73px;
			right: 20px;
			background: url(../images/appearance-item-2-2.png) no-repeat 50% 0;
			i {
				width: 135px;
				height: 139px;
				bottom: 45px - 139px;
				left: - 135px - 6px;
				background: url(../images/appearance-item-2-2-arrow.png) no-repeat;
				}
			}

		@include addp("3-1", 210px, 47px, 73px, -20px, 210px, 30px, 82px, -210px + 20px);
		@include addp("3-2", 170px, 110px, 388px, 36px, 71px, 49px, 100px, -75px);
		@include addp("3-3", 128px, 78px, 90px, 615px, 87px, 122px, -36px, 128px + 17px);
		p._4-1 {
			width: 182px;
			top: 179px;
			left: 10px;
			}
		@include addp("5-1", 148px, 56px, 37px, 26px, 151px, 82px, 21px, -151px - 9px);
		@include addp("5-2", 166px, 63px, 279px, 16px, 110px, 57px, 110px, -110px - 9px);

		p._5-3 {
			width: 182px;
			padding-top: 56px;
			right: 10px;
			top: 230px;
			background: url(../images/appearance-item-5-3.png) no-repeat 50% 0;
			i {
				width: 135px;
				height: 139px;
				top: 79px;
				left: -135px - 1px;
				background: url(../images/appearance-item-5-3-arrow.png) no-repeat 50% 0;
				}
			}
		p._6-1 {
			width: 200px;
			top: 242px;
			left: 0;
			i {
				width: 130px;
				height: 79px;
				top: -5px;
				left: 200px;
				background: url(../images/appearance-item-6-1-arrow.png) no-repeat;
				}
			}
		@include addp("7-1", 176px, 52px, 40px, 12px, 256px, 62px, 26px, -256px);
		@include addp("7-2", 162px, 94px, 246px, 17px, 79px, 94px, 142px, -90px);
		p._7-2 {
			background-position: 70% 0;
			}
		@include addp("7-3", 185px, 99px, 87px, 600px, 90px, 99px, 31px, 190px);
		@include addp("7-4", 205px, 95px, 325px, 588px, 62px, 22px, 148px, 207px);
		@include addp("8-1", 177px, 64px, 58px, 12px, 180px, 68px, 28px, -180px);
		@include addp("8-2", 175px, 54px, 318px, 13px, 165px, 96px, -7px, -175px);
		@include addp("8-3", 204px, 100px, 135px, 588px, 109px, 89px, 82px, 204px);
		p._8-3 {
			background-image: url(../images/appearance-item-7-3.png);
			}
		p._9-1 {
			width: 205px;
			left: 583px;
			top: 296px;
			}

		li {
			width: 780px;
			height: $height-appearance;
			// display: none;
			top: 0;
			left: 0;
			position: absolute;
			// background: #fff;
			// opacity: 0;
			// @include transition(all .5s ease);

			&._noanim {
				@include transition(none);
				}
			}
		}
			.appearance-list-i1 {
				display: block;
				}
		.appearance-preview {
			width: 290px;
			height: 510px;
			margin-left: -145px;
			left: 50%;
			top: 27px;
			position: absolute;
			z-index: 300;
			overflow: hidden;
			// display: none;
			opacity: 0;
			}
		.appearance-arrow-prev,
		.appearance-arrow-next {
			width: 60px;
			padding-top: 57px;
			top: 326px;
			position: absolute;
			z-index: 206;
			text-transform: uppercase;
			font-size: 12px;
			line-height: 12px;
			color: #333;
			// letter-spacing: -0.2px;
			text-align: center;
			font-family: $font-light;
			cursor: pointer;

			i {
				width: 21px;
				height: 39px;
				margin-left: -9px;
				left: 50%;
				top: 0;
				position: absolute;
				background: url(../images/appearance-arrows.png);
				}
			}
		.appearance-arrow-prev {
			left: 230px;
			}
		.appearance-arrow-next {
			right: 230px;

			i {background-position: -21px 0;}
			}
	.appearance-nav {
		width: 270px;
		margin-left: -135px;
		bottom: 21px;
		left: 50%;
		position: absolute;
		z-index: 205;
		font-size: 0;
		text-align: center;
		overflow: hidden;

		ul {
			// width: 17 * 30px;
			// margin-left: -8 * 30px;
			}

		li {
			width: 16px;
			height: 16px;
			float: left;
			// display: inline-block;
			margin: 0 7px;
			border-radius: 16px;
			background-color: #c7c7c7;
			cursor: pointer;
			}
		li._active {
			background-color: #6400c7;
			}
		}
