#contact {
	// height: $height-contact;
	background: url(../images/contact-bg.jpg) no-repeat 50%;
	background-size: cover;
	overflow: hidden;
	}

	.contact-mail {
		width: 161px;
		height: 181px;
		top: 49px;
		left: 300px;
		position: absolute;
		background: url(../images/contact-icon.png) no-repeat;
		// @include scale(0);
		}

	#contact form {
		width: 340px;
		padding-top: 32px;
		display: block;
		margin: auto;
		left: 2px;
		position: relative;
		font-family: $font-main;
		font-size: 14px;
		line-height: 1;
		color: #c9f;
		// display: none;

		label {
			display: block;
			text-indent: 18px;
			}

		.input-wrapper {
			width: 340px - 18px - 18px;
			height: 40px - 2px;
			padding: 0 18px 0;
			margin-top: 4px;
			margin-bottom: 22px;

			background: rgba(#08052d, .4);
			border-radius: 30px;
			}

		input, textarea {
			// display: block;
			border: 0;
			font-size: 14px;
			font-family: $font-main;
			// color: #c9f;
			color: #fff;
			outline: none;
			}
		input {
			width: 100%;
			padding: 10px 0 0;
			// margin-top: 4px;
			display: block;

			line-height: 26px;
			display: block;
			background: transparent;
			}

		// .textarea-wrapper {

		// 	}
		textarea {
			width: 340px - 18px - 18px;
			height: 100px - 10px - 10px;
			padding: 10px 18px;
			margin-top: 4px;
			margin-bottom: 30px;
			display: block;
			border-radius: 20px;
			line-height: 18px;
			resize: none;

			// margin-bottom: 22px;

			background: rgba(#08052d, .4);
			border-radius: 30px;
			}

		button {
			width: 340px;
			height: 40px;
			border-radius: 30px;
			border: 3px solid #fff;
			background: transparent;
			font-family: $font-thin;
			font-weight: normal;
			font-size: 24px;
			line-height: 30px;
			text-transform: uppercase;
			color: #fff;
			text-align: center;
			cursor: pointer;
			outline: none;
			}
		}
