#download {
	height: $height-download;
	background: #000;
	text-align: center;
	overflow: hidden;

	a {
		width: 330px;
		height: 88px;
		margin-top: 59px;
		bottom: 0;
		display: inline-block;
		position: relative;
		overflow: hidden;
		}
	}
