.flowplayer {
	width: 100%;
	// width: 2560px;
	// left: 50%;
	// margin-left: -1280px;
	display: block;
	// min-width: $width-max;
	height: inherit;
	// left: -(2560px - $width-max)/2;
	position: relative;
	// max-width: 800px;
	background-color: #fff;
	background-size: cover;
	}
.flowplayer .fp-controls { background-color: rgba(255, 255, 255, 0)}
.flowplayer .fp-timeline { background-color: rgba(204, 204, 204, 0.16)}
.flowplayer .fp-progress { background-color: rgba(51, 72, 189, 0.53)}
.flowplayer .fp-buffer { background-color: rgba(250, 250, 250, 0.53)}
// .flowplayer { background-image: url(../images/video-bg.jpg)}
.flowplayer .fp-timeline {
	width: 1400px - 20px;
	margin: auto !important;
	}
.is-finished.flowplayer .fp-ui {
	background: url(../images/video-ui-replay.png) no-repeat center !important;
	}
