#header {
  height: $height-header;
  overflow: hidden;
  }
  .header-logo {
    width: 237px;
    height: 60px;
    left: 232px;
    top: 21px;
    position: absolute;
    }
  .header-social {
    width: 129px;
    height: 50px;
    @extend .clearfix;
    left: 637px;
    top: 24px;
    position: absolute;
    font-size: 0;
    text-indent: -100px;

    li {
      float: left;
      overflow: hidden;
      }

    a {
      width: 50px;
      height: 50px;
      display: block;
      background: url(../images/header-social.png) no-repeat 0 0;
      }

    .-facebook {margin-right: 29px;}
    .-facebook a {background-position: 0 0;}
    .-twitter a {background-position: -50px 0;}
    }
  .header-presskit {
    height: 37px - 9px;
    padding-top: 9px;
    padding-right: 77px;
    display: inline-block;
    right: 87px;
    top: 34px;
    position: absolute;
    background: url(../images/header-presskit.png) no-repeat 100%;
    font-size: 18px;
    font-family: $font-light;
    line-height: 18px;
    color: #000;
    letter-spacing: .08em;
    }
