#preview {
	// height: $height-preview;
	}

	.preview-list {
		width: 960px;
		height: $height-preview;
		margin: auto;
		font-family: $font-light;
		font-size: 24px;
		line-height: 29px;
		color: #666;
		text-align: center;

		li {
			width: 320px;
			height: 350px;
			float: left;
			position: relative;
			}
		img {
			// display: none;
			}
		p {
			width: 260px;
			height: 145px;
			margin-left: -130px;
			left: 50%;
			top: 350px - 145px;
			position: absolute;
			// display: none;
			}
		.-item-4 p,
		.-item-5 p,
		.-item-6 p {
			height: 165px;
			top: 350px - 165px;
			}
		.-item-1 img {margin-top: 52px;}
		.-item-2 img {margin-top: 67px;}
		.-item-3 img {margin-top: 65px;}
		.-item-4 img {margin-top: 60px;}
		.-item-5 img {margin-top: 55px;}
		.-item-6 img {margin-top: 55px;}

		._manywords {
			i {
				display: block;
				// font-size: 18px;
				// line-height: 22px;
				}
			b {
				width: 300px;
				margin-top: 24px;
				margin-left: -20px;
				display: block;
				font-size: 22px;
				font-family: $font-main;
				}
			}
		._last {
			color: #06c;

			p {
				// margin-top: -4px;
				}
			b {
				margin-top: 10px;
				display: block;
				font-family: $font-main;
				font-size: 30px;
				}
			strong {
				font-weight: bold;
				font-family: $font-main;
				font-size: 30px;
				}
			}
		}

	.preview-borders {
		// display: none;

		div {
			position: absolute;
			}
		.-vertical {
			width: 1px;
			height: 700px;
			top: 0;
			background: url(../images/preview-devider_v.png) no-repeat 0;
			}
		.-vertical_left {
			left: 539px;
			}
		.-vertical_right {
			right: 539px;
			}
		.-horizontal {
			width: 960px;
			height: 1px;
			left: 220px;
			top: 349px;
			background: url(../images/preview-devider_h.png) no-repeat 0;
			}
		}
	#preview .-horizontal_bottom {
		display: none;
		}

