#slider {
  // height: $height-slider;
  overflow: hidden;
  background: url(../images/slider-bg.jpg) no-repeat 50%;
  background-size: cover;
  }
  .slider-skip {
    width: 80px;
    height: 80px;
    top: 58px;
    // right: 80px;
    top: 158px;
    right: 50%;
    margin-right: -610px;
    position: fixed;
    background: url(../images/slider-skip.png) no-repeat;
    // cursor: pointer;
    z-index: 10000;
    @include transition(opacity 1s ease);
    }
  .slider-nav {
    width: 5 * 30px;
    margin-left: -75px;
    bottom: 22px;
    left: 50%;
    position: absolute;
    z-index: 105;
    font-size: 0;
    text-align: center;
    overflow: hidden;

    ul {
      width: 5 * 30px;
      // margin-left: -4 * 30px;
      }

    li {
      width: 16px;
      height: 16px;
      float: left;
      // display: inline-block;
      margin: 0 7px;
      border-radius: 16px;
      background: #fff;
      cursor: pointer;
      }
    li._active {
      background: #06c;
      }
    }
  .slider-list {
    width: $width-max;
    height: 700px;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 100;

    li {
      z-index: 1050;
      position: absolute;
      }
    }
    .slider-item {
      width: 590px;
      height: 350px;
      // @include transition(all 0.3s ease-out);

      &._noanim {
        @include transition(none);
        }
      }
    .slider-shadow {
      width: 618px;
      height: 392px;
      z-index: 1040 !important;
      background: url(../images/slider-item-shadow.png) no-repeat 0 0;
      // @include transition(all 0.3s ease-out);
      }
    @mixin slideritem($id, $top, $left, $stop, $sleft) {
      .slider-item-#{$id} {
        top: $top;
        left: $left;
        @include transition(all .5s ease);
        }
        .slider-item-#{$id}-shadow {
          top: $stop;
          left: $sleft;
          @include transition(all .5s ease);
          }
      }
    @include slideritem("1", 364px, -361px, 379px, -351px);
    @include slideritem("2", 287px, 21px, 304px, 17px);
    @include slideritem("3", 210px, 403px, 225px, 393px);
    @include slideritem("4", 131px, 781px, 146px, 771px);
    @include slideritem("5", 52px, 1159px, 67px, 1149px);

    .slider-link {
      width: 57px !important;
      z-index: 6000;
      background: rgba(#000, .3);
      border-radius: 10px;

      i {
        width: 20px !important;
        background: url(../images/slider-links.png) !important;
        top: 50% !important;
        margin-top: -20px;
        margin-left: -10px !important;
        }
      }
      .appearance-arrow-next i {
        background-position: 100% 0 !important;
        }

    .slider-item-1,
    .slider-item-1-shadow,
    .slider-item-5,
    .slider-item-5-shadow {
      opacity: 0;
      }

    .slider-item-phone {
      width: 856px;
      height: 582px;
      top: 125px;
      left: 274px;
      z-index: 1045 !important;
      background: url(../images/slider-phone.png) no-repeat 0;
      }
    .slider-item-glass {
      width: 585px;
      height: 349px;
      top: 210px;
      left: 404px;
      z-index: 1100 !important;
      background: url(../images/slider-glass.png) no-repeat 0;
      }
  .slider-logo {
    width: 230px;
    height: 366px - 154px;
    padding-top: 154px;
    padding-left: 262px;
    left: 118px;
    top: -83px;
    position: absolute;
    z-index: 102;
    background: url(../images/slider-logo.png) no-repeat 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    font-family: $font-thin;
    line-height: 30px;
    letter-spacing: 0.018em;

    b {
      display: block;
      font-family: $font-thin-bold;
      }
    }
  .slider-install {
    width: 140px;
    height: 40px;
    display: block;
    left: 630px;
    top: 80px;
    position: absolute;
    z-index: 102;
    background: url(../images/slider-install.png) no-repeat;
    font-size: 0;
    line-height: 0;
    // display: none;
    }
