#video {
	// height: $height-video;
	// overflow: hidden;
	// opacity: 0;
	position: relative;
	background: url(../images/mobile-video-bg.jpg) no-repeat 50%;
	background-size: cover;
	z-index: 10001;

	.flowplayer {
		background-color: transparent;
		}

	.inner {
		width: 100%;
		max-width: 2560px;
		min-width: $width-max;
		}
	}
