@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/helvetica.eot');
  src: url('../fonts/helvetica.eot?iefix') format("eot"),
       url('../fonts/helvetica.woff') format("woff");
  }
@font-face {
  font-family: "Helvetica Bold";
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/helvetica-bold.eot');
  src: url('../fonts/helvetica-bold.eot?iefix') format("eot"),
       url('../fonts/helvetica-bold.woff') format("woff");
  }
@font-face {
  font-family: "Helvetica Light";
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/helvetica-light.eot');
  src: url('../fonts/helvetica-light.eot?iefix') format("eot"),
       url('../fonts/helvetica-light.woff') format("woff");
  }
@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/helvetica-neue.eot');
  src: url('../fonts/helvetica-neue.eot?iefix') format("eot"),
       url('../fonts/helvetica-neue.woff') format("woff");
  }
@font-face {
  font-family: "Helvetica Neue Bold";
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/helvetica-neue-bold.eot');
  src: url('../fonts/helvetica-neue-bold.eot?iefix') format("eot"),
       url('../fonts/helvetica-neue-bold.woff') format("woff");
  }
