$width-max: 1400px;

$height-header: 100px;
$height-slider: 700px;
$height-preview: 700px;
$height-video: 700px;
$height-appearance: 700px;
$height-download: 200px;
$height-contact: 500px;

$height-all: $height-header + $height-slider + $height-preview + $height-video + $height-appearance + $height-download + $height-contact;

$font-main: "Helvetica";
$font-light: "Helvetica Light";
$font-bold: "Helvetica Bold";
$font-thin: "Helvetica Neue";
$font-thin-bold: "Helvetica Neue Bold";
