@import "compass";

@include global-reset;

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	}

#main {
	width: 100%;
	height: 100%;
	}

body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	-webkit-font-smoothing: subpixel-antialiased !important;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
	}

@import "fonts";
@import "params";

a {
  text-decoration: none;
  }

.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}

// Layout

.inner {
  width: $width-max;
  height: inherit;
  margin: auto;
  position: relative;
  }

#header .content {
	height: $height-header;
	}

#slider .content {
	height: $height-slider;
	}

#preview .content {
	height: $height-preview;
	}

#video .content {
	height: inherit;
	// height: $height-video;
	}

#appearance .content {
	height: $height-appearance;
	}

#footer .content {
	height: $height-download + $height-contact;
	}

#main {
	// overflow: hidden;
	}

.slide._full {
	height: 100%;
	position: relative;

	.content {
		// height: 700px;
		// margin-top: -350px;
		// top: 50%;
		position: relative;
		}
	}

// Appearance

.progress-nav {
	width: 100px;
	position: fixed;
	margin-top: -63px;
	top: 50%;
	right: 10px;
	text-align: right;

	span {
		// display: none;
		display: block;
		line-height: 28px;
		padding-right: 27px;
		// width: 50px;
		opacity: 0;
		font-size: 13px;
		color: #aaa;
		text-align: right;
		-webkit-transition: opacity 0.3s;
		-moz-transition: opacity 0.3s;
		transition: opacity 0.3s;
		font-family: $font-thin;
		}

	li {
		display: inline-block;
		min-width: 26px;
		height: 27px;
		position: relative;
		cursor: pointer;

		&:after {
			display: block;
			position: absolute;
			content: "\0020";
			width: 4px;
			height: 4px;
			margin-top: -2px;
			top: 50%;
			right: 11px;
			background: #777;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			}
		&:hover {
			span {
				opacity: .7;
				}
			}
		}
	.active {
		&:after {
			width: 8px;
			height: 8px;
			margin-top: -5px;
			right: 8px;
			border: 1px solid #aaa;
			background: transparent;
			}
		}
	}

@import "b-flowplayer";

@import "b-header";
@import "b-slider";
@import "b-preview";
@import "b-video";
@import "b-appearance";
@import "b-download";
@import "b-contacts";
