* {
	padding: 0;
	margin: 0;
	}

html,
body {
	width: 100%;
	height: 100%;
	}

body {
	position: relative;
	background: url(../images/m-bg.png) no-repeat 0 0;
	background-size: 100%;
	}

$font-main: "Helvetica";
$font-thin: "Helvetica Neue";

.mobile {
	padding: 0 10px;
	position: relative;
	// overflow: hidden;
	}

form {
	width: 100%;
	min-height: 100%;
	// width: 340px;
	padding-top: 16px;
	padding-bottom: 32px;
	margin: auto;
	// left: 2px;
	position: relative;
	z-index: 1000;
	font-family: $font-main;
	font-size: 100%;
	line-height: 1;
	color: #c9f;

	label {
		display: block;
		text-indent: 18px;
		margin-bottom: 15px;

		span {display: none;font-family: $font-thin;}
		}

	.input-wrapper {
		padding: 0 18px;
		margin-top: 4px;
		border-radius: 25px;
		background: rgba(#08052d, .4);
		}

	input, textarea {
		width: 100%;
		// width: 340px - 18px - 18px;
		display: block;
		border: 0;
		background: transparent;
		font-size: 14px;
		font-family: $font-main;
		color: #fff;
		outline: none;
		}
	input {
		height: 38px;
		line-height: 38px;
		color: #fff;
		}
	textarea {
		height: 100px - 10px - 10px - 2px;
		padding-top: 10px;
		padding-bottom: 10px;
		// margin-bottom: 30px;
		border-radius: 10px;
		line-height: 18px;
		resize: none;
		}

	button {
		width: 100%;
		height: 40px;
		border-radius: 30px;
		border: 3px solid #fff;
		background: transparent;
		font-family: $font-thin;
		font-weight: normal;
		font-size: 24px;
		line-height: 30px;
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		cursor: pointer;
		outline: none;
		}
	.error {
		input {
			box-shadow: inset 0 0 0 3px #ff99cc;
			}
		span {
			display: inline !important;
			}
		}
	}

.bg {
	// width: 100%;
	display: none;
	// height: 100%;
	// display: block;
	// position: fixed;
	top: 0;
	left: 0;
	// position: fixed;
	// top: 0;
	// right: 0;
	// bottom: 0;
	// left: 0;
	// z-index: 1images/m-bg.png00;

	img {
		width: 100%;
		height: 100%;
		display: block;
		}
	}
