<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="true">

    <%= stylesheet_link_tag "contact" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
