<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title></title>

    <%= stylesheet_link_tag "http://releases.flowplayer.org/5.4.6/skin/minimalist.css", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body>
    <%= yield %>
    <ul class="progress-nav">
      <li class="active"><span>Header</span></li>
      <!-- <li><span>Screens</span></li> -->
      <li><span>Preview</span></li>
      <li><span>Video</span></li>
      <li><span>Appearance</span></li>
      <li><span>Contact</span></li>
    </ul>
    <div class="slider-skip"></div>
  </body>
</html>
