<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1024">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7, IE=9">

    <title></title>

    <%= stylesheet_link_tag "http://releases.flowplayer.org/5.4.6/skin/minimalist.css", "mobile" %>
    <%= javascript_include_tag  "mobile" %>
  </head>

  <body>
    <%= yield %>
    <ul class="progress-nav">
      <li class="active"><span>Header</span></li>
      <!-- <li><span>Screens</span></li> -->
      <li><span>Preview</span></li>
      <li><span>Video</span></li>
      <li><span>Appearance</span></li>
      <li><span>Contact</span></li>
    </ul>
  </body>
</html>
