---
layout: contact
---
		<div class="mobile">
			<form action="" method="post">
				<label>Name<div class="input-wrapper"><input type="text"></div></label>
				<label>Email<span> — error message</span><div class="input-wrapper"><input type="email" autocomplete="true"></div></label>
				<label>Subject<div class="input-wrapper"><input type="text"></div></label>
				<label>Subject<div class="input-wrapper"><textarea></textarea></div></label>
				<div class="button-wrapper">
					<button>Send</button>
				</div>
			</form>
			<div class="bg">
				<img src="images/m-bg.png" alt="" class="m-bg">
			</div>
		</div>
