<div id="main">
	<section id="header" class="slide">
		<div class="content">
			<div class="inner">
				<%= partial "include/header" %>
			</div>
		</div>
	</section>

	<section id="slider" class="slide _full">
		<div class="content">
			<div class="inner">
				<%= partial "include/slider" %>
			</div>
		</div>
	</section>

	<section id="preview" class="slide _full">
		<div class="content">
			<div class="inner">
				<%= partial "include/preview" %>
			</div>
		</div>
	</section>

	<section id="video" class="slide _full">
		<div class="content">
			<div class="inner">
				<%= partial "include/video" %>
			</div>
		</div>
	</section>

	<section id="appearance" class="slide _full">
		<div class="content">
			<div class="inner">
				<%= partial "include/appearance" %>
			</div>
		</div>
	</section>

	<section id="download" class="slide">
		<div class="content">
			<div class="inner">
				<%= partial "include/download" %>
			</div>
		</div>
	</section>

	<section id="contact" class="slide _full">
		<div class="content">
			<div class="inner">
				<%= partial "include/contact" %>
			</div>
		</div>
	</section>
</div>
