---
layout: mobile
---
<div id="swipe_slider" class="swipe">
	<div class="swipe-wrap">
		<!-- ITEM -->
		<div>
			<section id="header" class="slide">
				<div class="content">
					<div class="inner">
						<%= partial "include/header" %>
					</div>
				</div>
			</section>

			<section id="slider" class="slide _full">
				<div class="content">
					<div class="inner">
						<%= partial "include/slider" %>
						<div class="slider-link appearance-arrow-prev"><i></i></div>
						<div class="slider-link appearance-arrow-next"><i></i></div>
					</div>
				</div>
			</section>
		</div>

		<!-- ITEM -->
		<div>
			<section id="preview" class="slide _full">
				<div class="content">
					<div class="inner">
						<%= partial "include/preview" %>
					</div>
				</div>
			</section>
		</div>

		<!-- ITEM -->
		<div>
			<section id="video" class="slide _full">
				<div class="content">
					<div class="inner">
						<%= partial "include/video" %>
					</div>
				</div>
			</section>
		</div>

		<!-- ITEM -->
		<div>
			<section id="appearance" class="slide _full">
				<div class="content">
					<div class="inner">
						<%= partial "include/appearance" %>
					</div>
				</div>
			</section>
		</div>

		<!-- ITEM -->
		<div>
			<section id="download" class="slide">
				<div class="content">
					<div class="inner">
						<%= partial "include/download" %>
					</div>
				</div>
			</section>

			<section id="contact" class="slide _full">
				<div class="content">
					<div class="inner">
						<%= partial "include/contact" %>
					</div>
				</div>
			</section>
		</div>

	</div>
</div>
